# System junk
.DS_Store
Thumbs.db

# Editor files
*.swp
*.swo
*.bak
*~

# Python cache
__pycache__/
*.pyc

# Personal or machine-specific files
local/bin/*
local/wallpapers/*
local/share/zsh-plugins/*

# Logs or temporary files
*.log
